.header{
}
.mainTitle{
    color: azure;
}
.fancy-font{
    font-family: 'Times New Roman', Times, serif;
}
/* .login{
    border-radius: 50px;
    background-color: inherit;
    border: solid 2px white;
    height: 50%;
} */