.mainTitle{
    color: azure;
}
.fancy-font{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* .login{
    border-radius: 50px;
    background-color: inherit;
    border: solid 2px white;
    height: 50%;
} */