<div class="header h-full w-full hattrick-green-color flex justify-between relative">
    <h1 class="mainTitle fancy-font font-black text-4xl m-5">HaTrick</h1>
    <div class="menu flex justify-between mt-5" *ngIf="isLargeScreen">
    <span class="menuItem m-5 text-white font-semibold text-lg "><a href="/home" >Home</a></span>
    <span class="menuItem m-5 text-white font-semibold text-lg "><a href="/publicGames" >Public Games</a></span>
    <span class="menuItem m-5 text-white font-semibold text-lg "><a href="/schedule" >My Schedule</a></span>
    <span class="menuItem m-5 text-white font-semibold text-lg "><a href="/help" >Help</a></span>
    </div>
    <button class="login bg-transparent hover:bg-white text-white font-semibold hover:text-green-600 py-2 px-5 m-5 border border-white hover:border-transparent rounded-full" *ngIf="isLargeScreen"><a href="/login" >LOGIN</a></button>
    <button class="menu bg-transparent text-white font-semibold text-3xl m-5 " *ngIf="!isLargeScreen"><i class="fa-solid fa-bars text-white"></i></button>
</div>