<div class="h-full w-full bg-white border-t-2 border-[#0b8400] flex justify-between relative">
    <div class="menu flex justify-evenly w-full py-2" >
    <span class="menuItem my-2 px-2 hattrick-green-text-color font-thin text-3xl hover:border-black hover:border-opacity-80"><a href="/home" class=""><i class="fa-solid fa-house"></i></a></span>
    <span class="menuItem my-2 px-2 hattrick-green-text-color font-thin text-3xl hover:border-black hover:border-opacity-80"><a href="/info" class=""><i class="fa-solid fa-futbol"></i></a></span>
    <span class="menuItem my-2 px-2 hattrick-green-text-color font-thin text-3xl hover:border-black hover:border-opacity-80"><a href="/home" class=""><i class="fa-regular fa-calendar-days"></i></a></span>
    <span class="menuItem my-2 px-2 hattrick-green-text-color font-thin text-3xl hover:border-black hover:border-opacity-80"><a href="/home" class=""><i class="fa-regular fa-circle-question"></i></a></span>
    <span class="menuItem my-2 px-2 hattrick-green-text-color font-thin text-3xl hover:border-black hover:border-opacity-80"><a href="/login" class=""><i class="fa-solid fa-user-large"></i></a></span>
    </div>
    <!-- <button class="login bg-transparent hover:bg-white text-white font-semibold hover:text-green-600 py-2 px-5 m-5 border border-white hover:border-transparent rounded-full" (click)="navigate('login')" *ngIf="isLargeScreen" >LOGIN</button> -->
</div>